.pop-up__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: all;
  transition: 0.3s;
  z-index: 1000;
}

.pop-up__bg_disabled {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.pop-up__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up__img {
  max-width: calc(100% - 2.5rem);
  /* max-height: calc(100% - 7rem); */
  position: absolute;
}

@media screen and (min-width: 600px) {
  .pop-up__img {
    max-width: calc(100% - 4rem);
  }
}

@media screen and (min-width: 768px) {
  .pop-up__img {
    max-width: calc(100% - 10rem);
  }
}

@media screen and (min-width: 992px) {
  .pop-up__img {
    max-height: calc(100% - 10.5rem);
    max-width: calc(100% - 12rem);
  }
}

@media screen and (min-width: 1200px) {
  .pop-up__img {
    max-width: calc(100% - 16rem);
  }
}

@media screen and (min-width: 1440px) {
  .pop-up__img {
    max-width: calc(100% - 19.375rem);
  }
}

@media screen and (min-width: 1440px) {
  .pop-up__img {
    max-width: calc(100% - 47.5rem);
  }
}
