.main {
  height: fit-content;
}
.main__art-container {
  position: relative;
  margin: 2.2rem auto 2.5rem;
  transition: cubic-bezier(0.41, 0.01, 0.45, 1) 0.75s;
}
.main__art-info-container {
  position: absolute;
  top: -2.2rem;
  width: 100%;
  transition: cubic-bezier(0.41, 0.01, 0.45, 1) 0.75s;
  color: var(--gray700);
}
.main__art-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main__art-info::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -0.25rem;
  background-color: var(--gray200);
}
.main__art-info > :nth-child(n + 1) {
  flex: 1;
}

.art-info__index {
  margin: 0 0.625rem 0 0;
  text-align: left;
}

.art-info__index > :first-child {
  margin: 0 0.625rem 0 0;
}

.art-info__title {
  text-align: right;
}

.art-info__year {
  text-align: center;
}

.main__art {
  box-shadow: 0.5rem 0.75rem 2.2rem rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: cubic-bezier(0.41, 0.01, 0.45, 1) 0.75s;
}

.main__title {
  margin: 2.5rem 0 0;
}

.main__description {
  color: var(--gray900);
  margin: 1.25rem 0 0;
}

.main__authorship {
  color: var(--gray900);
  margin: 2.5rem 0 0;
}
.main__avatar-container {
  margin: 0 0 1.25rem;
  display: flex;
  align-items: center;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 1.25rem 0 0;
}
.main__hr_second {
  width: 4rem;
  margin: 0 1.25rem 0 0;
}

.collect {
  margin: 2.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Cormorant Infant', 'Times New Roman', serif;
}

.collect__button {
  margin: 0;
  padding: 0.875rem 4.875rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  background: var(--gray800);
  color: var(--bg);
}
.collect__button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  width: 9rem;
  height: 9rem;
  border: 1px solid var(--gray200);
  border-radius: 50%;
}

.collect__button:hover {
  background: var(--gray900);
}

.main__close-art {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .main {
    height: fit-content;
    padding: 3rem 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .main-container {
    display: flex;
    justify-content: center;
  }

  .main__art-info {
    height: 100%;
    display: flex;
    transform: rotate(180deg);
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }

  .main__art-info-container {
    position: absolute;
    width: 0;
    top: 0;
    left: -2.5rem;
  }

  .art-info__index > :first-child {
    margin: 0 0 2.5rem 0;
  }

  .art-info__index {
    margin: 0.625rem 0 0 0;
  }

  .main__art-info::before {
    width: 1px;
    height: 100%;
    bottom: 0;
    left: -1rem;
  }

  .main__content {
    width: min-content;
    flex-grow: 1;
    transition: cubic-bezier(0.41, 0.01, 0.45, 1) 0.75s;
  }

  .main__art-container {
    width: 28rem;
    margin: 0 3rem 0 0;
    transition: cubic-bezier(0.41, 0.01, 0.45, 1) 0.75s;
  }
  .main__art {
    margin: 0;
  }

  .main__title {
    margin: 0;
  }

  .collect__button {
    position: relative;
    padding: 0;
    width: 7.75rem;
    height: 7.75rem;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .collect__button::after {
    display: block;
  }

  .art-info__index {
    writing-mode: vertical-rl;
  }

  .art-info__year {
    writing-mode: vertical-rl;
  }

  .art-info__title {
    writing-mode: vertical-rl;
  }

  .main__content_leave {
    transform: translateX(5rem);
    opacity: 0;
    width: 0;
    flex-shrink: 1;
    visibility: hidden;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    height: calc(100% - 5.25rem);
    padding: 3rem 8rem;
  }

  .main__content_leave {
    transform: translateX(7rem);
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 3rem 9.6875rem;
  }
  .main__art-info-container {
    margin: 0 0 0 -3.5rem;
  }
  .main__art-container {
    margin: 0 5rem 0 0;
  }
  .main__content_leave {
    transform: translateX(9rem);
  }
}

@media screen and (min-width: 1920px) {
  .main {
    padding: 3rem 23.75rem;
  }
  .main__art {
    margin: 0 5rem 0 0;
    width: 33.75rem;
    height: auto;
  }

  .main__art-info-container {
    margin: 0 0 0 -5rem;
  }

  .main__description {
    margin: 2.5rem 0 0;
  }

  .main__authorship {
    margin: 5rem 0 0;
  }

  .collect {
    margin: 7.5rem 0 0;
  }

  .main__content_leave {
    transform: translateX(23rem);
  }
}
