.main {
  height: fit-content;
}

.main_art-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.art-info__index-name {
  display: flex;
}

.art-info__index {
  margin: 0 0.625rem 0 0;
}

.art-info__year {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main__hr_first {
  margin: 0.25rem 0 0;
}

.main__art {
  margin: 1.25rem 0 0;
}

.main__title {
  margin: 2.5rem 0 0;
}

.main__description {
  margin: 1.25rem 0 0;
}

.main__authorship {
  margin: 2.5rem 0 0;
}
.main__avatar-container {
  margin: 0 0 1.25rem;
  display: flex;
  align-items: center;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 1.25rem 0 0;
}
.main__hr_second {
  width: 4rem;
  margin: 0 1.25rem 0 0;
}

.collect {
  margin: 2.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Cormorant Infant', 'Times New Roman', serif;
}

.collect__button {
  margin: 0;
  padding: 0.875rem 4.875rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  background: var(--gray800);
  color: var(--bg);
}
.collect__button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  width: 9rem;
  height: 9rem;
  border: 1px solid var(--gray200);
  border-radius: 50%;
}

.collect__button:hover {
  background: var(--gray900);
}

@media screen and (min-width: 992px) {
  .main {
    height: calc(100% - 5.25rem);
    padding: 3rem 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-container {
    display: flex;
    justify-content: center;
  }

  .main-art-info-container {
    position: absolute;
    display: flex;
  }

  .main__content {
    width: min-content;
    flex-grow: 1;
  }
  .main__art {
    margin: 0 3rem 0 0;
    width: 28rem;
    height: auto;
  }

  .main__title {
    margin: 0;
  }

  .collect__button {
    position: relative;
    padding: 0;
    width: 7.75rem;
    height: 7.75rem;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .collect__button::after {
    display: block;
  }

  .main-art-info-container {
    height: calc(100% - 3rem * 2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 -4rem;
  }
  .main_art-info {
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-items: center;
  }

  .art-info__index-name {
    display: flex;
    flex-direction: column;
  }

  .art-info__index {
    margin: 0 0 0.625rem 0;
  }

  .art-info__year {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .main__hr_first {
    margin: 0;
    height: auto;
    width: 1px;
  }

  .art-info__index {
    writing-mode: vertical-rl;
  }
  .art-info__name {
    writing-mode: vertical-rl;
  }
  .art-info__year {
    writing-mode: vertical-rl;
  }
  .art-info__title {
    writing-mode: vertical-rl;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 3rem 8rem;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 3rem 9.6875rem;
  }
}

@media screen and (min-width: 1920px) {
  .main {
    padding: 3rem 23.75rem;
  }
  .main__art {
    margin: 0 5rem 0 0;
    width: 33.75rem;
    height: auto;
  }

  .main-art-info-container {
    margin: 0 0 0 -5rem;
  }

  .main__description {
    margin: 2.5rem 0 0;
  }

  .main__authorship {
    margin: 5rem 0 0;
  }

  .collect {
    margin: 7.5rem 0 0;
  }
}
