.image-container {
  padding: 0 0 1.25rem;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .image-container {
    padding: 0.5rem 0 0;
  }
}
