@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300&display=swap');
@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/proxima-nova-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/proxima-nova-regular.woff') format('woff');
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 3.333333333333333333vw;

  --bg: #fbfbfb;
  --gray200: #dddddd;
  --gray300: #bfbfbf;
  --gray400: #979797;
  --gray700: #545454;
  --gray800: #333333;
  --gray900: #080808;
}
body,
a,
ul,
li,
img,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
select {
  font: inherit;
}

hr {
  margin: 0;
  height: 1px;
  background: var(--gray200);
  border: none;
}

h1 {
  font-family: 'Cormorant Infant', 'Times New Roman', serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 120%;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'Cormorant Infant', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Cormorant Infant', 'Times New Roman', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Cormorant Infant', 'Times New Roman', serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: 'Cormorant Infant', 'Times New Roman', serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 110%;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Proxima Nova', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.p1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
}

.p2 {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 120%;
  text-transform: uppercase;
}

.p3 {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 200%;
}
