.dropdown {
  position: relative;
  width: 8rem;
  display: flex;
  align-items: center;
  color: var(--gray900);
  cursor: pointer;
}

.dropdown__arrow {
  margin: 0 0 0 0.625rem;
}

.dropdown__list {
  opacity: 0;
  visibility: hidden;
  height: 0;
  z-index: 1000;
  position: absolute;
  width: 4rem;
  background: var(--bg);
  transition: 0.5s;
}

.dropdown__list_active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.dropdown__point {
  color: var(--gray900);
  padding: 0.25rem;
  border: 1px solid var(--gray200);
  transition: 0.5s;
  cursor: pointer;
}

.dropdown__point:not(:last-child) {
  border-bottom: none;
}

.dropdown__point:hover {
  background-color: var(--gray300);
}

.price {
  font-family: inherit;
  font-size: 5rem;
  color: var(--gray800);
}
